
.red{
    color:red;
}

.form-area{
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    border: 1px solid GREY;
}

.contact-list{
    margin-top: 25px;
}

.contact-list table tr{
   border: 1px solid #f4f4f4;
}

.contact-list table td{
    padding: 10px 20px;
}